# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
dist/
build/
coverage/
.tmp/
.cache/

# Imagenes
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.svg
*.webp
*.tiff
*.ico

# Archivos SQLite
*.sqlite
*.sqlite3
*.db

db/*.sqlite

# Otros
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log

# Vite
.vite
.env
.env.*.local
.env.local
coverage
.cache
.tmp
*.tsbuildinfo   

.gitignore